@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hackBCA-header {
	width: 100%;
	text-align: center;
}

.hackBCA-header h1 {
	font-family: ProximaNova, monospace;
	font-size: 87px;
}

.hackBCA-header h1 strong {
	font-weight: 200%;
}

.explanation {
	font-size: 30px;
}

.mono {
	font-family: monospace;
}

.info-pane {
	padding-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #2c3e50;
	color: #ecf0f1;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 37px;
}

.info-pane h4 {
	text-transform: uppercase;
}

.info-pane h1 {
	text-transform: capitalize;
}

.info-pane button {
	margin-top: 40px;
	font-size: 35px;
	text-transform: uppercase;
	border: none;
}

.signup-btn {
	margin-right: 10px;
	background-color: #2ECC71;
	color: white;
}

.signup-btn:hover, .signup-btn:active {
	background-color: #229E57;
}

.sponsor-btn {
	margin-left: 10px;
	background-color: #9B59b6;
	color: white;
}

.sponsor-btn:hover, .sponsor-btn:active {
	background-color: #77428D;
}

.sponsors-pane {
	padding-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 30px;
}

.more-info-pane {
	padding-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #2c3e50;
	color: #ecf0f1;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 30px;
}

.answers{
	font-size: 24px;
}

/*.left{
	float: left;
	width: 45%;

}
.right{
	float:right;
	width: 45%;
}*/

.final-register-btn-pane {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;
}

.final-register-btn-pane button {
	font-size: 50px;
	text-transform: uppercase;
	border: none;
}

/*.second-register-btn {
	background-color: #2c3e50;
}*/

.normal {
	font-weight: normal;
}