<footer><div class="container">
    <div class="row">
        <div class="col-50" id="quote">
            <h3>Get <b>INSPIRED</b></h3>
            <blockquote>
                <span>&nbsp;</span>
                <small>&nbsp;</small>
            </blockquote>
        </div>
        <div class="col-50" id="social">
            <h3>Stay <b>CONNECTED</b></h3>
                <div class="twitter-btn">
                    <a href="https://twitter.com/hackBCA" class="twitter-follow-button" data-show-count="false"><i class="icon-twitter"></i> &nbsp;Follow @hackBCA</a> <a href="https://github.com/jzone3/hackBCA" class="github-btn"><i class="icon-github"></i> &nbsp;jzone3 / hackBCA</a>
                    <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
                </div>
                <div class="facebook-btn">
                    <div class="fb-like" data-href="https://www.facebook.com/BCAhackathon" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <a href="https://www.facebook.com/events/480814305371272/" class="fb-button"><i class="icon-facebook"></i> RSVP</a>
                </div>
        </div>
    </div>
</div></footer>
<div class="footnote"><div class="container">
&copy; 2014 hackBCA. Design by <a href="http://victorlourng.com"><i class="icon-smile"></i> Victor Lourng.</a> <a href="http://github.com/jzone3/hackBCA" class="gh"><i class="icon-github"></i> Fork and Contribute on GitHub!</a>
<a class="right" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');" style="cursor:pointer"><i class="icon-arrow-up"></i> Back to Top</div>
</a></div>
<div class="back2top">
<a onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');" style="cursor:pointer"><i class="icon-arrow-up"></i> Back to Top</div>
</div>