<div class="has-nav"><div class="container"><nav role="navigation" class="nav nav-vertical nav-left" id="nav"> 
    <a class="logo" href="/">hack<b>BCA</b></a>
    <a href="/about">About</a>
   <ul>
        <li>
            <a href="/hackathon">What is a Hackathon?</a>
        </li>
        <li>
            <a href="/sponsors">Sponsors</a>
        </li>
        <li>
            <a href="/staff">Staff</a>
        </li>
        <li>
            <a href="/directions">Get Directions</a>
        </li>
        <li>
            <a href="/mobile">Mobile App</a>
        </li>
    </ul>
    <a href="/schedule">Schedule</a>
    <a href="/judges">Judges</a>
    <a href="/prizes">Prizes</a>
    <ul>
        <li>
            <a href="/prizes">Top Prizes</a>
        </li>
        <li>
            <a href="/apis">API Awards</a>
        </li>
    </ul>
    <a href="/rules">Rules</a>
    <a href="/press" class="last">Press</a>
    <ul>
        <li>
            <a href="/logos">Logots</a>
        </li>
        <li>
            <a href="/press">Press Releases</a>
        </li>
        <li>
            <a href="/register#press">Request Access</a>
        </li>
    </ul>
    <!-- <a class="learn" href="/learn2code">Learn to Code</a> -->
    <a class="register" href="/register"><i class="icon-board"></i> Register!</a>
</nav></div>
<div class="bar mobile-header">
    <a id="toggle-nav"><i class="icon-grid"></i> <!-- <span class="sr-only">MENU</span> --></a>
    <a href="/"><span class="logo">hack<b>BCA</b></span></a>
    <a href="#" id="twitter" class="right"><i class="icon-ol-search"></i></a>
</div>
</div>