@font-face {
    font-family: 'Proxima Condensed';
    src: url('proximanovacondensed-light-webfont.eot');
    src: url('proximanovacondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacondensed-light-webfont.woff') format('woff'),
         url('proximanovacondensed-light-webfont.ttf') format('truetype'),
         url('proximanovacondensed-light-webfont.svg#proxima_nova_softregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Condensed';
    src: url('proximanovacondensed-regular-webfont.eot');
    src: url('proximanovacondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacondensed-regular-webfont.woff') format('woff'),
         url('proximanovacondensed-regular-webfont.ttf') format('truetype'),
         url('proximanovacondensed-regular-webfont.svg#proxima_nova_softregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
