@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1{
	text-align: center;
}
.yellowh1{
	color:#242424;
}
.circle-img{
	border-radius: 150px;
}
.black{
	background-color: #242424;
}
.yellow{
	background-color: #f1c40f;
}
.yellowh3{
	color:#242424;
}
.yellowh4{
	color:#242424;
}
div div *{
	color: #f1c40f;
	text-align: center;
}
.a{
	color:#ecf0f1;
}
.explanation{
	font-size: 30px;
}
.ww{
	font-size: 24px;
}
.info{
	font-size: 20px;
}
.reg-btn{
	height: 75px;
	width: 150px;
	font-size: 20px;
}
.yellowp{
	font-size: 19px;
	color: #242424;
}