<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
  <head>
    <title>hackBCA</title>
    <!-- -->
    {% include header.html %}
  </head>
  <body class="{{ page.class }}">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Header -->
    <header style="background-image:url({{ page.background }})">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </header>

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {% include footer.html %}
  </body>
</html>